{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
    #navbar ul {
	margin: 0;
	padding: 5px;
	list-style-type: none;
	text-align: center;
	background-color: #000;
	}

    #navbar ul li {
        display: inline;
        }

    #navbar ul li a {
        text-decoration: none;
        padding: .2em 1em;
        color: #fff;
        background-color: #000;
        }

    #navbar ul li a:hover {
        color: #000;
        background-color: #fff;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="navbar">
          <ul>
            <li><a href="{% url 'index' %}">List items</a></li>
            <li><a href="{% url 'card_list' %}">Card list</a></li>
            <li><a href="{% url 'table_list' %}">Table list</a></li>
          </ul>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
